*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans";
}

body{

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.vertpage{
    max-width: 1000px;
    display: flex;
    flex-flow: column;

}

.indexpage{
    display: flex;
    flex-flow: row;
}
form{
    display: flex;
    flex-flow: column;
    label{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
}